* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font: Verdana, Geneva, Tahoma, sans-serif,;
    font-weight: bolder;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: thistle;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.img-box {
    width: 8rem;
    height: 25rem;
    border-radius: 1rem;
    background-image: url(./Assets/forest.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    transition: width 1s, bottom 2s,opacity 5s;
}

.img-box:nth-child(2) {
    background-image: url(./Assets/nature.jpg);
}

.img-box:nth-child(3) {
    background-image: url(./Assets/ocean.jpg);
}

.img-box:nth-child(4) {
    background-image: url(./Assets/watefall.jpg);
}


.img-box h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    margin-left: 1rem;  
    opacity: 0; 
     transition: bottom 1s, opacity 2s;
}

.img-box:hover {
    width: 20rem;
    cursor: pointer;
}

.img-box:hover h4 {
    opacity: 100%;
    bottom: 1.5rem;
}

